/* This is the External stylesteet were all the styling of the websites are styled. */

/* First class is for image. So here we are styling the image to be in the center, 
makes the image block element(so it wont be inside any text), 
then we are looking at the size of the image were it will be only 50% and the hieght remains normal. */

.image {
    display: block;       
    margin: 0 auto;     
    max-width: 50%;       
    height: auto;         
}

body {
    
  /* This is for the overall page.*/

    font-family: 'Cinzel', serif; /* Shows the text font which is Cizel or serif.(2 of the texts are given so that the text is visible in every browser */
    background-color: #f4f1e1; /* This is basically the background color which is a light beige color */
    padding: 50px; /* Padding make sure that the text wont touch the edes and leave spaces between */
    text-align: left; /* Here the text will be by default starting from the left */

    /* This is for the border around*/
   
    border: 10px solid #8b5e3b; /* Helps in creating a brown border */
    margin: 20px;   /* This helps the border to leave some space outside the border(to make it look neat) */
    padding: 30px;  /*/Padding again makes sure that the words or text will not overlap with the border. */
    border-radius: 20px;  /* Border radius helps the border to be curvy. */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);  /* Helps the border to have a slight shadow effect making it look more nicer. */
}

/* This class helps in basic styling for both the header and footer(Vintage Aloo Paratha & Thankyou) */

.text{
    text-align: center; /* Makes the text to be in the center */
    color: #5b3d21; /* Gives the text a dark brown color */
    font-size: 48px; /* This is the size of the text */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Helps in giving little of shadow effect */
    letter-spacing: 2px; /* Leaving space in between words */
    text-transform: uppercase; /* Makes all the letters in the word uppercase */
    line-height: 1.4; /* inline spaces for better readability */
}

/*Basically when hovered over the text(Vintage Aloo Paratha & Thankyou)color changes and start to slightly glow. */

.text:hover {
    color: #a06544; /* This basically changes the darker brown to lighter brown */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); /* This is for the shadow effect which will make it glow. */
}

/* This is for the box design around ingredients and method */

.box {
    background-color: #fff8e7; /* light cream inside the box */
    border: 2px solid #d4b28b; /* light brown border */
    padding: 25px; /* gives spacing inside the box */
    margin: 30px 0; /* spacing above and below the box */
    border-radius: 15px; /* curves the corners of the box */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* adds a soft shadow for better look */
}